.App {
	margin: 10%;
}

/* Header Component */
.App-logo {
	height: 10vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

nav {
	display: flex;
	align-items: center;
	background-color: #21222A;
	height: 10vh;
	padding: 1.2em 1.5em 1.2em 1em;
	font-size: 1.2em;
}

.nav-logo-text,
.nav-title {
	margin: 0;
}

.nav-logo-text {
	margin-right: auto;
	color: #61DAFB;
	font-weight: 700;
}

.nav-title {
	color: #DEEBF8;
	font-weight: 600;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


/* Header Component */

/* MainContent Component */

main {
    padding: 3.5em 3em;
    color: white;
	background-color: #282D35;
}

.main-title {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: -0.03em;
}

.main-facts {
    margin-top: 2.5em;
}

.main-facts > li {
    line-height: 1.2em;
    padding-block: 0.8em;
	font-weight: 500;
}

.main-facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

/* MainContent Component */


@media only screen and (max-width: 1400px) {
	.App {
		margin: 0;
	}
  }