.App {
	margin: auto;
	max-width: 800px;
}

/* Header Component */
.App-logo {
	height: 10vh;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

	.App-logo,
	.App-logo-main {
		animation: App-logo-spin infinite 20s linear;
	}
}

nav {
	display: flex;
	align-items: center;
	background-color: #ffffff;
	height: 10vh;
	padding: 1.2em 1.5em 1.2em 0;
	font-size: 1.2em;
	z-index: 1;
	border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

nav.dark {
    background-color: #21222A;
}

.nav-logo-text,
.nav-title {
	margin: 0;
}

.nav-logo-text {
	margin-right: auto;
	color: #61DAFB;
	font-weight: 700;
}

.nav-title {
	color: #DEEBF8;
	font-weight: 600;
}

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler-slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

nav.dark .toggler-slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler-slider-circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler-slider-circle {
    background-color: black;
}

.toggler-light {
    color: #2B283A;
}

nav.dark .toggler-light {
    color: #918E9B;
}

.toggler-dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler-slider {
    justify-content: flex-end;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


/* Header Component */

/* MainContent Component */

main {
	padding: 3.5em 3em;
    background-color: white;
    color: #2B283A;
	overflow: hidden;
	position: relative;
}

main.dark {
    background-image: url("./logo-main.svg"); 
    background-color: #282D35;
    color: white;    
}

.main-title {
	margin: 0;
	font-size: 2.5em;
	letter-spacing: -0.03em;
}

.main-facts {
	margin-top: 2.5em;
	position: relative;
}

.main-facts>li {
	line-height: 1.2em;
	padding-block: 0.8em;
	font-weight: 500;
	/* padding-bottom: 2em; */
}

.main-facts>li::marker {
	font-size: 1.4rem;
	color: #61DAFB;
}

.App-logo-main {
	height: 50vh;
	position: absolute;
	left: 30%;
	top: 45%;
}

/* MainContent Component */

/* Footer Component */
footer {
	text-align: center;
	font-size: 1.1em;
	font-weight: 600;
	color: #DEEBF8;
}

/* Footer Component */


@media only screen and (max-width: 900px) {
	.App {
		margin: 0;
	}

	.App-logo-main {
		height: 40vh;
		left: 40%;
		top: 45%;
	}
}